<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQ Express</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/const.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>

    <div class="wrap">
        <div class="mob-menu">
            <ul>
                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#!" class="mob-user-aut">
                            <img src="~/images/user.png" alt="">
                            <span class="user-text"><span class="user-name">UserName</span><br>Настройки</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    }
                    else
                    {
                        <a href="~/Account/Login" class="mob-user"><i class="fa fa-user"></i>Вход / Регистрация</a>
                    }
                </li>
                <li><a href="#!" class="mob-city"><i class="fa fa-map-marker-alt"></i>Алматы</a></li>
                <li><a href="~/Home/Index" class="mob-logo"><img src="~/images/logo.png">SQ Express</a></li>
            </ul>
            <div class="mob-header">
                <i class="fa fa-bars"></i>
                <div class="left">
                    @*<a href="~/Home/Index" class="logo">SQ Express</a>*@
                    <a href="~/Home/Index" class="logo"><img src="~/images/logo.png"/> Sqexpress.kz</a>
                </div>
                <div class="right">
                    <a href="~/Account/Login" class="user"><i class="fa fa-user"></i></a>
                </div>
            </div>
            <ul>
                <li><a href="~/Home/Index">Главная</a></li>
                <li><a href="~/Store/Shop">Магазин</a></li>
                <li>
                    <a href="#!" class="mob-down mob-dost">Доставка<i class="fa fa-angle-right"></i></a>
                    <ul class="mob-down-menu mob-dost-menu">
                        <li><a href="#!">Курьерская служба</a></li>
                        <li><a href="~/Home/Logistika">Логистика</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="mob-down mob-usl">Услуги<i class="fa fa-angle-right"></i></a>
                    <ul class="mob-down-menu mob-usl-menu">
                        <li><a href="#!">Пакеты с логотипом</a></li>
                        <li><a href="#!">Переводы</a></li>
                    </ul>
                </li>
                <li><a href="#!">SQ Taxi</a></li>
                <li><a href="#!">Гид</a></li>
                <li><a href="#!">Сообщения</a></li>
                <li><a href="#!">Контакты</a></li>
            </ul>
        </div>
        <div class="main">
            <header>
                <div class="left">
                    @*<a href="~/Home/Index" class="logo">SQ Express</a>*@
                    <a href="~/Home/Index" class="logo"><img src="~/images/logo.png" alt="Alternate Text" /></a>
                    <div class="nav">
                        <ul>
                            <li><a href="~/Store/Shop">Магазин</a></li>
                            <li>
                                <a href="#!" class="down dost">Доставка</a>
                                <ul class="down-menu dost-menu">
                                    <i class="fa fa-caret-up"></i>
                                    <li><a href="#!">Курьерская служба</a></li>
                                    <li><a href="~/Home/Logistika">Логистика</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="down usl">Услуги</a>
                                <ul class="down-menu usl-menu">
                                    <i class="fa fa-caret-up"></i>
                                    <li><a href="#!">Пакеты с логотипом</a></li>
                                    <li><a href="#!">Переводы</a></li>
                                </ul>
                            </li>
                            <li><a href="#!">SQ Taxi</a></li>
                            <li><a href="#!">Гид</a></li>
                            <li><a href="#!">Сообщения</a></li>
                            <li><a href="#!">Контакты</a></li>
                        </ul>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="right right-user">
                        <div class="city">@User.Identity.Name</div>
                        <a href="#!" class="user"><i class="fa fa-user"></i></a>
                        <div class="user-menu">
                            <i class="fa fa-caret-up"></i>
                            <p><span>Мой мобильный</span><br>+7(708) 116-27-75</p>
                            <a href=""><i class="fa fa-cog"></i>Сменить пароль</a>
                            <a href=""><i class="fa fa-bars"></i>Мои товары</a>
                            <a href="~/Account/Logout"><i class="fa fa-sign-out-alt"></i>Выход</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="right">
                        <div class="city"><i class="fa fa-map-marker-alt"></i>Алматы</div>
                        <a href="~/Account/Login" class="user"><i class="fa fa-user"></i></a>
                    </div>
                }

            </header>
            @RenderBody()
            <footer>
                <div class="foot-nav">
                    <ul>
                        <li><a href="#!">Магазин</a></li>
                        <li><a href="#!">Логистика</a></li>
                        <li><a href="#!">Отель</a></li>
                        <li><a href="#!">Гид</a></li>
                        <li><a href="#!">Переводы</a></li>
                        <li><a href="#!">Контакты</a></li>
                    </ul>
                </div>
                <div class="fmidle">
                    <div class="social">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-vk"></i>
                        <i class="fab fa-telegram"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                    <p>2017-2019 гг <br />ТОО «SQ Express»</p>
                    <p>Корпоративный сайт</p>
                    <p>Пользовательское соглашение</p>
                </div>
                <div class="fright">
                    <div class="market">
                        <a href="#!"><img src="~/images/PlayMarket.png" alt=""></a>
                        <a href="#!"><img src="~/images/AppStore.png" alt=""></a>
                    </div>
                    <p>+7(777)333 44 55</p>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.right-user').hover(function () {
                $('.user-menu').slideToggle(300);
            });

            $('.right-user > .user').on('click', function (e) {
                e.preventDefault();
            });

            $('a.dost').click(function(e) {
                e.preventDefault();
                $('ul.dost-menu').slideToggle(300);
            });
            $('a.usl').click(function(e) {
                e.preventDefault();
                $('ul.usl-menu').slideToggle(300);
            });

            $('a.mob-dost').click(function(e) {
                e.preventDefault();
                $('ul.mob-dost-menu').slideToggle(300);
                $(this).children('i').toggleClass('act-mob-down-menu');
            });
            $('a.mob-usl').click(function(e) {
                e.preventDefault();
                $('ul.mob-usl-menu').slideToggle(300);
                $(this).children('i').toggleClass('act-mob-down-menu');
            });

            $('i.fa-bars').on('click', function (e) {
                e.preventDefault();
                $('.mob-menu').toggleClass('act-mob-menu');
                $('.main').toggleClass('act-main');
                $('body').toggleClass('act-body');
            });
        })
    </script>
</body>
</html>
