<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQ Express</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/constadmin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</head>
<body>

    <div class="wrap">
        <div class="main">
            <header>
                <div class="left">
                    <a href="~/Home/Index" class="logo"><img src="~/images/logo.png" alt="Alternate Text" /></a>
                    <div class="nav">
                        <ul>
                            <li><a href="~/Admin/List">Списки</a></li>
                            <li>
                                <a href="#!" class="down usl">Добавить</a>
                                <ul class="down-menu usl-menu">
                                    <i class="fa fa-caret-up"></i>
                                    <li><a href="~/Admin/AddCategory">Добавить Категорию</a></li>
                                    <li><a href="~/Admin/AddPodCategory">Добавить Под-Категорию</a></li>
                                    <li><a href="~/Admin/AddProduct">Добавить Продукт</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </header>
            @RenderBody()

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('a.dost').click(function(e) {
                e.preventDefault();
                $('ul.dost-menu').slideToggle(300);
            });
            $('a.usl').click(function(e) {
                e.preventDefault();
                $('ul.usl-menu').slideToggle(300);
            });

            //$('.right-user').hover(function () {
            //    $('.user-menu').slideToggle(300);
            //});

            //$('.right-user > .user').on('click', function (e) {
            //    e.preventDefault();
            //});
            //$('i.fa-bars').on('click', function (e) {
            //    e.preventDefault();
            //    $('.mob-menu').toggleClass('act-mob-menu');
            //    $('.main').toggleClass('act-main');
            //    $('body').toggleClass('act-body');
            //});
        })
    </script>
</body>
</html>
