@model SqApp.ViewModels.LoginModel

<link rel="stylesheet" href="~/css/user.css">

<content>
    <form class="vhod" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div style="color:red;" asp-validation-summary="ModelOnly"></div>
        <h2>Ужe зарегистрированы</h2>
        <input asp-for="Email" placeholder="Name" required />
        <input asp-for="Password" placeholder="Password" required />
        <button type="submit">Войти</button>
    </form>
    <div class="vhod">
        <h2>Впервые на SQ Express</h2>
        <p>Чтобы продолжить необходимо зарегистрироваться(получить логин и пароль).Это бесплатно.</p>
        <a href="~/Account/Register">Зарегистрироваться</a>
    </div>
</content>

<script type="text/javascript" src="js/script.js"></script>