@model SqApp.ViewModels.RegisterModel
    <link rel="stylesheet" href="~/css/regist.css">

    <content>
        <form class="vhod" method="post">
            <h2>Регистрация</h2>
            <input type="text" asp-for="Email" placeholder="Ваше имя" required>
            <span asp-validation-for="Email"></span>
            <input type="text" asp-for="PhoneNumber" placeholder="Ваш номер" required>
            <input type="password" asp-for="Password" placeholder="Придумайте пароль" required>
            <span asp-validation-for="PasswordConfirm"></span>
            <input asp-for="PasswordConfirm" placeholder="Повторите пароль" required />
            <span asp-validation-for="PasswordConfirm"></span>
            <button type="submit">Регистрация</button>
        </form>
    </content>



    @*<h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label ></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input  />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>*@