<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/slider.css">
<content>
    <div class="sect1">
        <div class="sect1-mob">
            <div class="slider" id="slider">
                <div class="slItems">
                    <div class="slItem">
                        <p>TEXT 1</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 2</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 3</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sect1-top">
            <a href="~/Account/Login" class="stop-left">
                <h1>Мой Банк</h1>
                <p>Всё о ваших картах, депозитах и кредитах</p>
                <div class="regist">Войти/Зарегистрироваться</div>
            </a>
            <div class="stop-right">
                <a href="#!" class="strtop">
                    <h3>Наручные <br> часы</h3>
                    <p>В кредит от <span class="kredit">3123т/мес</span></p>
                    <div class="buy">Купить сейчас</div>
                </a>
                <div class="strbot">

                </div>
            </div>
        </div>
        <div class="sect1-bottom">
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Магазин</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Магазин</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shuttle-van"></i>
                <h3>Логистика</h3>
                <p>Доставка товаров из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-hotel"></i>
                <h3>Отель</h3>
                <p>Список отели в вашем городе</p>
            </a>
            <a href="#!">
                <i class="fab fa-vk"></i>
                <h3>SQ Гид</h3>
                <p>Ответы на все вопросы</p>
            </a>
            <a href="#!">
                <i class="fab fa-facebook"></i>
                <h3>Переводы</h3>
                <p>Перевод на Китаиский юань</p>
            </a>
        </div>
    </div>
    <div class="sect2">
        <div class="sect2-h">
            <h3>Логистика SQ Express</h3>
            <p>Разные виды логистики в доступных ценах</p>
        </div>
        <div class="sect2-top">
            <div class="slider" id="slider">
                <div class="slItems">
                    <div class="slItem">
                        <p>TEXT 1</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 2</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 3</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sect2-bottom">
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Оптовый товары из Китая</p>
            </a>
        </div>
    </div>
    <div class="sect3">
        <h3 class="sect3-h">Интернет магазин SQ Express</h3>
        <div class="sect3-cont">
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
        </div>
    </div>
    <div class="sect4">
        <h3 class="sect4-h">Способы оплаты</h3>
        <div class="sect4-cont">
        </div>
    </div>
</content>


<script src="~/js/slider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('.slider').rbtSlider({
                'height': '100%',
                'dots': true,
                'arrows': true,
                'auto': 3
            });
        });
    });
</script>