<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/slider.css">
<link rel="stylesheet" type="text/css" href="~/log-slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/log-slick/slick-theme.css" />
<content>
    <div class="sect1">
        <div class="sect1-mob">
            <div class="slider" id="slider">
                <div class="slItems">
                    <div class="slItem">
                        <p>TEXT 1</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 2</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                    <div class="slItem">
                        <p>TEXT 3</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, doloribus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sect1-top">
            <a href="#!" class="stop-left">
                <img src="~/images/1sl.jpg" />
                <img src="~/images/2sl.png" />
                <img src="~/images/3sl.png" />
            </a>
            <div class="stop-right">
                <a href="#!" class="strtop">
                    <img src="~/images/2sl.png" />
                    <img src="~/images/3sl.png" />
                    <img src="~/images/1sl.jpg" />
                </a>
                <a href="#!" class="strbot">
                    <img src="~/images/3sl.png" />
                    <img src="~/images/1sl.jpg" />
                    <img src="~/images/2sl.png" />
                </a>
            </div>
        </div>
        <div class="sect1-bottom">
            <a href="~/Store/Shop">
                <img src="~/images/shop.png" />
                <h3>Магазин</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <img src="~/images/dostavka.png" />
                <h3>Доставка</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="~/Home/Logistika">
                <img src="~/images/uslugi.png" />
                <h3>Услуги</h3>
                <p>Доставка товаров из Китая</p>
            </a>
            <a href="#!">
                <img src="~/images/taxi.png" />
                <h3>SQ Taxi</h3>
                <p>Список отели в вашем городе</p>
            </a>
            <a href="#!">
                <img src="~/images/gid.png" />
                <h3>SQ Гид</h3>
                <p>Ответы на все вопросы</p>
            </a>
            <a href="#!">
                <img src="~/images/message.png" />
                <h3>Сообщения</h3>
                <p>Перевод на Китаиский юань</p>
            </a>
        </div>
    </div>
    <div class="sect2">
        <div class="sect2-h">
            <h3>Логистика SQ Express</h3>
            <p>Разные виды логистики в доступных ценах</p>
        </div>
        <div class="sect2-top">
            <div class="slider" id="slider">
                <div class="slItems">
                    <div class="slItem">
                        <img src="~/images/d11.png" />
                    </div>
                    <div class="slItem">
                        <img src="~/images/d22.png" />
                    </div>
                    <div class="slItem">
                        <img src="~/images/d33.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sect2-bottom">
            <a href="#!">
                <img src="~/images/avia.png" />
                <h3>Оптовый товары из Китая</h3>
            </a>
            <a href="#!">
                <img src="~/images/transport.png" />
                <h3>Оптовый товары из Китая</h3>
            </a>
            <a href="#!">
                <img src="~/images/mors.png" />
                <h3>Оптовый товары из Китая</h3>
            </a>
            <a href="#!">
                <img src="~/images/ekonom.png" />
                <h3>Оптовый товары из Китая</h3>
            </a>
        </div>
    </div>
    <div class="sect3">
        <h3 class="sect3-h">Интернет магазин SQ Express</h3>
        <div class="sect3-cont">
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/headphones.png" alt="">
                <p>Наушники</p>
            </a>
            <a href="#!">
                <img src="https://kaspi.kz/reswp/img/start/shop/wristwatches.png" alt="">
                <p>Часы</p>
            </a>
        </div>
    </div>
    <div class="sect4">
        <h3 class="sect4-h">Способы оплаты</h3>
        <div class="sect4-cont">
        </div>
    </div>
</content>


<script src="~/js/slider.min.js"></script>
<script src="~/log-slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
         $('.stop-left, .strtop, .strbot').slick({
            dots: false,
            arrows: false,
            infinite: true,
            speed: 100,
            fade: true,
            autoplay: true,
            autoplaySpeed: 5000,
            cssEase: 'linear'
        });
         $(function () {
             $('.slider').rbtSlider({
                 'height': '100%',
                 'dots': false,
                 'arrows': false,
                 'auto': 3
             })
         });
     });
</script>