<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/slider.css">
<link rel="stylesheet" type="text/css" href="~/log-slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/log-slick/slick-theme.css" />
<content>
    <div class="sect1">
        <div class="sect1-mob">
            <div class="autoplay">
                <img src="~/images/d11.png" />
                <img src="~/images/d22.png" />
                <img src="~/images/d33.png" />
            </div>
        </div>
        <div class="sect1-top">
            <a href="#!" class="stop-left">
                <img src="~/images/1sl.jpg" />
                <img src="~/images/2sl.png" />
                <img src="~/images/3sl.png" />
            </a>
            <div class="stop-right">
                <a href="#!" class="strtop">
                    <img src="~/images/2sl.png" />
                    <img src="~/images/3sl.png" />
                    <img src="~/images/1sl.jpg" />
                </a>
                <a href="#!" class="strbot">
                    <img src="~/images/3sl.png" />
                    <img src="~/images/1sl.jpg" />
                    <img src="~/images/2sl.png" />
                </a>
            </div>
        </div>
        <div class="sect1-bottom">
            <a href="~/Store/Shop">
                <img src="~/images/shop.png" />
                <h3>Магазин</h3>
                <p>Оптовые товары из Китая</p>
            </a>
            <a href="~/Home/Logistika">
                <img src="~/images/dostavka.png" />
                <h3>Доставка</h3>
                <p>Оптовые товары из Китая</p>
            </a>
            <a href="~/Home/Kurer">
                <img src="~/images/kurer.png" />
                <h3>Курьерская служба</h3>
                <p>Оптовые товары из Китая</p>
            </a>
            <a href="~/Home/Logistika">
                <img src="~/images/dostavka.png" />
                <h3>Логистика</h3>
                <p>Оптовые товары из Китая</p>
            </a>
            <a href="#!">
                <img src="~/images/perevod.png" />
                <h3>Переводы</h3>
                <p>Доставка товаров из Китая</p>
            </a>
            <a href="~/Home/Uslugi">
                <img src="~/images/gid.png" />
                <h3>Услуги</h3>
                <p>Доставка товаров из Китая</p>
            </a>
            <a href="#!">
                <img src="~/images/uslugi.png" />
                <h3>Туризм, отели</h3>
                <p>Доставка товаров из Китая</p>
            </a>
            <a href="#!">
                <img src="~/images/message.png" />
                <h3>Visa</h3>
                <p>Перевод на Китаиский юань</p>
            </a>
            <a href="#!">
                <img src="~/images/taxi.png" />
                <h3>SQ Taxi</h3>
                <p>Список отели в вашем городе</p>
            </a>
            <a href="#!">
                <img src="~/images/uslugi.png" />
                <h3>Отели</h3>
                <p>Ответы на все вопросы</p>
            </a>
        </div>
    </div>
    <div class="sect2">
        <div class="sect2-h">
            <h3>Логистика SQ Express</h3>
            <p>Разные виды логистики в доступных ценах</p>
        </div>
        <div class="sect2-top">
            <div class="slider" id="slider">
                <div class="slItems">
                    <div class="slItem">
                        <img src="~/images/d11.png" />
                    </div>
                    <div class="slItem">
                        <img src="~/images/d22.png" />
                    </div>
                    <div class="slItem">
                        <img src="~/images/d33.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sect2-bottom">
            <a href="#!">
                <img src="~/images/avia.png" />
                <h3>Авиа транспорт</h3>
            </a>
            <a href="#!">
                <img src="~/images/transport.png" />
                <h3>Авто транспорт</h3>
            </a>
            <a href="#!">
                <img src="~/images/mors.png" />
                <h3>Морской транспорт</h3>
            </a>
            <a href="#!">
                <img src="~/images/ekonom.png" />
                <h3>Эконом транспорт</h3>
            </a>
        </div>
    </div>
    <div class="sect3">
        <h3 class="sect3-h">Магазин SQ Express</h3>
        @*<p>Выбор лучшей цены.</p>*@
        <div class="sect3-cont">
            <a href="~/Store/Shop">
                <img src="~/images/f1.png"/>
                <p>Телефоны, <br />Гаджеты</p>
            </a>
            <a href="~/Store/Shop">
                <img src="~/images/f2.png" />
                <p>Автотовары</p>
            </a>
            <a href="~/Store/Shop">
                <img src="~/images/f3.png" />
                <p>Украшения, <br />Аксессуары</p>
            </a>
            <a href="~/Store/Shop">
                <img src="~/images/f4.png" />
                <p>Компьютеры</p>
            </a>
            <a href="~/Store/Shop">
                <img src="~/images/f5.png" />
                <p>ТВ, Аудио <br />Видео</p>
            </a>
            <a href="~/Store/Shop" class="last">
                <img src="~/images/f6.png" />
                <p>Товары для дома и дачи</p>
            </a>
            <div>
                <a href="~/Store/Shop">
                    <img src="~/images/f6.png" />
                    <p>Товары для дома и дачи</p>
                </a>
                <a href="~/Store/Shop">
                    <img src="~/images/f1.png" />
                    <p>Телефоны, <br />Гаджеты</p>
                </a>
                <a href="~/Store/Shop">
                    <img src="~/images/f2.png" />
                    <p>Автотовары</p>
                </a>
                <a href="~/Store/Shop">
                    <img src="~/images/f3.png" />
                    <p>Украшения, <br />Аксессуары</p>
                </a>
                <a href="~/Store/Shop">
                    <img src="~/images/f4.png" />
                    <p>Компьютеры</p>
                </a>
            </div>
        </div>
    </div>
    <div class="sect4">
        <h3 class="sect4-h">Способы оплаты</h3>
        <div class="sect4-cont">
        </div>
    </div>
</content>


<script src="~/js/slider.min.js"></script>
<script src="~/log-slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.autoplay').slick({
            dots: false,
            arrows: false,
			  infinite: true,
			  speed: 300,
			  slidesToShow: 1,
			  centerMode: true,
			  variableWidth: true
			});
         $(function () {
             $('.slider').rbtSlider({
                 'height': '100%',
                 'dots': false,
                 'arrows': false,
                 'auto': 3
             })
         });
     });
</script>