<link rel="stylesheet" href="~/css/kurer.css">
<link rel="stylesheet" href="~/css/slider.css">

<content>
    <div class="sect1">
        <div class="blocks">
            <div class="block1">
                <a href="#!">
                    <img src="~/images/k1.png">
                    <h3>Рассчитать стоимость</h3>
                </a>
                <a href="#!">
                    <img src="~/images/k2.png">
                    <h3>Вызвать курьера</h3>
                </a>
                <a href="#!">
                    <img src="~/images/k3.png">
                    <h3>Отследить доставку</h3>
                </a>
            </div>
            <div class="block2">
                <a href="#!">
                    <img src="~/images/k4.png">
                    <h3>Найти офис</h3>
                </a>
                <a href="#!">
                    <img src="~/images/k5.png">
                    <h3>Заключить договор</h3>
                </a>
            </div>
            <div class="block3">
                <a href="#!">
                    <img src="~/images/k6.png">
                    <h3>Обратная связь</h3>
                </a>
            </div>
        </div>
        <div class="slider">
            <div class="slItems">
                <div class="slItem">
                    <img src="http://ponyexpress.kz/upload/sup/d5e/bnr_1380x480_car2.jpg" alt="">
                </div>
                <div class="slItem">
                    <img src="http://ponyexpress.kz/upload/sup/5fa/GRUZ_V2_1380x480.jpg" alt="">
                </div>
                <div class="slItem">
                    <img src="http://ponyexpress.kz/upload/sup/650/05_promo+.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="sect2">
        <a href="#!">
            <img src="~/images/k11.png">
            <h3>Доставка<br> ко времени </h3>
        </a>
        <a href="#!">
            <img src="~/images/k22.png">
            <h3>Для интернет<br>магазинов</h3>
        </a>
        <a href="#!">
            <img src="~/images/k33.png">
            <h3>Экспресс<br>доставка</h3>
        </a>
        <a href="#!">
            <img src="~/images/k44.png">
            <h3>Международная<br> доставка</h3>
        </a>
        <a href="#!">
            <img src="~/images/k55.png">
            <h3>Прямая<br> машина</h3>
        </a>
        <a href="#!">
            <img src="~/images/k66.png">
            <h3>Получить<br> визу</h3>
        </a>
    </div>
    <div class="sect3">
        <h3>Ваш логистический оператор</h3>
        <div class="scores">
            <div class="score">
                <p>224 </p>
                <span class="score-text">Страны</span>
            </div>
            <div class="score">
                <p>17 950 </p>
                <span class="score-text">Населенных пунктов<br>в Казахстане и СНГ</span>
            </div>
            <div class="score">
                <p>20 </p>
                <span class="score-text">Офисов<br>в городах<br>Казахстана</span>
            </div>
            <div class="score">
                <p>250 </p>
                <span class="score-text">Сотрудников</span>
            </div>
            <div class="score">
                <p>90 </p>
                <span class="score-text">Автомобилей</span>
            </div>
            <div class="score">
                <p>1 500 </p>
                <span class="score-text">Авиарейсов<br>в месяц</span>
            </div>
            <div class="score">
                <p>22 </p>
                <span class="score-text">Года<br>в Казахстане</span>
            </div>
        </div>
        <div class="sect3-bottom">
            <div class="sect3-bg"></div>
            <div class="lists">
                <ul>
                    <li><a href="#!">Лицензия на услуги почтовой связи</a></li>
                    <li><a href="#!">Свидетельство о включении в реестр таможенных представителей</a></li>
                </ul>
                <ul>
                    <li><a href="#!">Сертификат соответствия</a></li>
                    <li><a href="#!">Национальный сертификат "Лидер отрасли"</a></li>
                </ul>
            </div>
            <p>Казахстан, Россия, Украина, Беларусь, Армения, Молдова, Азербайджан, Узбекистан, Кыргызстан. 178 представительств</p>
        </div>
    </div>
    <div class="sect4">
        <h3>Начать отправлять просто</h3>
        <div class="sect4-items">
            <div>
                <p>Рассчитайте стоимость</p>
                <a href="#!" class="more">КАЛЬКУЛЯТОР</a>
            </div>
            <div>
                <p>Вызовите курьера</p>
                <a href="#!" class="more">ОСТАВИТЬ ЗАЯВКУ</a>
            </div>
            <div>
                <p>Подготовьте отправление</p>
                <a href="#!" class="more">УЗНАТЬ ОБ УПАКОВКЕ</a>
            </div>
        </div>
    </div>
    <div class="sect5">
        <div class="sect5-head">
            <div class="news">Новости</div>
            <div class="sect5-nav">
                <a href="#!">События</a>
                <a href="#!"> Уведомления</a>
                <a href="#!" class="more">СМОТРЕТЬ ВСЕ</a>
            </div>
        </div>
        <div class="sect5-cont">
            <a href="#!">
                <p>07 октября 2019</p>PONY EXPRESS стал лидером отрасли в Казахстане в 2019 году
            </a>
            <a href="#!">
                <p>16 апреля 2019</p>Акция «Сходи в кино вместе с PONY EXPRESS»!
            </a>
            <a href="#!">
                <p>04 мая 2018</p>График работы в праздничные дни
            </a>
            <a href="#!">
                <p>30 апреля 2018</p>График работы в праздничные дни
            </a>
        </div>
    </div>
</content>

<script src="~/js/slider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
         $(function () {
             $('.slider').rbtSlider({
                 'height': '100%',
                 'dots': true,
                 'arrows': true,
                 'auto': 3
             })
         });
     });
</script>