<link rel="stylesheet" href="~/css/logistika.css">


<content>
    <div class="sect1">
        <img src="~/images/huge.jpg"/>
    </div>
    <div class="sect2">
        <div class="sect2-h">
            <h3>Услуги</h3>
            <p>Все услуги сервиса делятся на четыре основных подразделения (кликните на интересующий вас раздел). Добро пожаловать в Китай!</p>
        </div>
        <div class="sect2-cont">
            <a href="~/Logistika/Air">
                <img src="~/images/avia.png" />
                <h3>Авиа доставка из Китая от 150кг</h3>
                <p>Быстрые решения для вашего бизнеса</p>
            </a>
            <a href="~/Logistika/Avto">
                <img src="~/images/transport.png" />
                <h3>Автодоставка из Китая от 100кг</h3>
                <p>Сборные фуры к вашим услугам</p>
            </a>
            <a href="~/Logistika/More">
                <img src="~/images/mors.png" />
                <h3>Морская доставка из Китая от 300кг</h3>
                <p>Оптимальный способ доставки крупных грузов</p>
            </a>
            <a href="~/Logistika/Cheap">
                <img src="~/images/ekonom.png" />
                <h3>Эконом- доставка из Китая от 150кг</h3>
                <p>Экономичный способ доставки из Китая</p>
            </a>
        </div>
        <a href="~/Home/Uslugi" class="more">Все услуги</a>
    </div>
    <div class="sect3">
        <div class="sect3-h">
            <h3>Преимущества</h3>
            <p>Наш опыт и репутация — это самое главное, но есть еще несколько очень важных моментов:</p>
        </div>
        <div class="sect3-cont">
            <img src="~/images/i1.png">
            <div class="sect3-text">
                <h4>1. Головной офис сервиса в Москве</h4>
                <p>Склад нужен не только для того, чтобы хранить. Мы консолидируем, проверяем заказы по инвойсу и контролируем качество. Десятки видов качественной упаковки к вашим услугам в Китае.</p>
            </div>
        </div>
        <div class="sect3-cont">
            <div class="sect3-text">
                <h4>2. Складские комплексы в Китае и России</h4>
                <p>Склад нужен не только для того, чтобы хранить. Мы консолидируем, проверяем заказы по инвойсу и контролируем качество. Десятки видов качественной упаковки к вашим услугам в Китае.</p>
            </div>
            <img src="~/images/i2.png">
        </div>
        <div class="sect3-cont">
            <img src="~/images/i3.png">
            <div class="sect3-text">
                <h4>3. Декларируем самостоятельно</h4>
                <p>Ничто так не влияет на цену, как отсутствие посредников. Больше тысячи готовых сертификатов и 300 ТНВЭД кодов мы уже оформили и успешно оптимизировали. Дешевая доставка из Китая теперь доступна каждому.</p>
            </div>
        </div>
        <div class="sect3-cont">
            <div class="sect3-text">
                <h4>4. Юридическая безопасность</h4>
                <p>С китайскими поставщиками мы заключаем договоры поставок по всем нормам местного и международного права. Мы работаем в одном правовом поле, что сводит ваши риски практически к нулю. Transitplus — надежный посредник в Китае.</p>
            </div>
            <img src="~/images/i4.png">
        </div>
        <div class="sect3-cont">
            <img src="~/images/i5.png">
            <div class="sect3-text">
                <h4>5. Комплексное обслуживание</h4>
                <p>Наш сервис построен таким образом: чем больше услуг вы отдаете нам на обслуживание, тем больше времени сможете уделить своему бизнесу. Все процессы сервиса подготовлены для компаний разного уровня. Аутсорсинг ВЭД — это выгодно, безопасно и удобно!</p>
            </div>
        </div>
    </div>
    <div class="sect4">
        <div class="sect4-h">
            <h3>Контакты</h3>
            <p>Мы находимся в Москве, по адресу Нижний Сусальный переулок д.5, стр 17</p>
        </div>
        <div class="sect4-cont">
            <div class="phones">
                <div>
                    <p>Поддержка для клиентов сервиса:</p>
                    <p class="number">7(778) 780 70 70</p>
                </div>
                <div>
                    <p>Отдел продаж:</p>
                    <p class="number">+7 (ххх) ххх хх хх</p>
                </div>
            </div>
            <div class="form">
                <p>Задайте ваш вопрос или кратко опишите ситуацию.<br>Мы очень быстро свяжемся с вами :)</p>
                <input id="name" type="text" placeholder="Ваше имя">
                <input id="phone" type="text" placeholder="Ваш телефон">
                <textarea id="desc" type="email" placeholder="Описание"></textarea>
                <p class="agreement">* Отправляя форму, вы даете свое согласие на обработку персональных данных</p>
                <a onclick="AddRequest()" href="#" class="submit">Отправить</a>
            </div>
        </div>
    </div>
</content>


<script src="~/log-slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('.fade').slick({
			  dots: true,
			  infinite: true,
			  speed: 500,
			  fade: true,
			  cssEase: 'linear'
        });
        $("a.submit").click(function (e) {
            e.preventDefault();
        });

        $(window).on('load scroll', function () {
            if ($(this).scrollTop() >= '100') {
			        $('.sect2-h').addClass('sect-h-pos');
			    }
			    if ($(this).scrollTop() >= '700') {
			        $('.sect3-h').addClass('sect-h-pos');
			    }
			    if ($(this).scrollTop() >= '1050') {
			        $('.sect3-cont').addClass('sect3-cont-pos');
			        $('.sect3-cont:nth-child(odd)').addClass('sect3-cont-pos');
			    }
			    if ($(this).scrollTop() >= '2150') {
			        $('.sect4-h').addClass('sect-h-pos');
			    }
        });
    });
</script>
<script>
    function AddRequest() {
        var name = document.getElementById("name").value;
        var phone = document.getElementById("phone").value;
        var desc = document.getElementById("desc").value;

        const urlFetch = 'http://sqexpress.kz' + '/Home/GetRequest'
        fetch(urlFetch, {
            method: 'POST',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                "Name": name,
                "PhoneNumber": phone,
                "Description": desc
            }),
        })
            .then(function (res) { return res.json(); })
            .then(function (data) {
                if (data === true) {
                    alert("Заявка успешно отправлено!");
                }
                else {
                    alert("Вы не заполнили нужное поля!");
                }
            })
            .catch((error) => { console.log("saas") });
    }
</script>