<link rel="stylesheet" href="~/css/logistika.css">


<content>
    <div class="sect1"></div>
    <div class="sect2">
        <div class="sect2-h">
            <h3>Услуги</h3>
            <p>Все услуги сервиса делятся на четыре основных подразделения (кликните на интересующий вас раздел). Добро пожаловать в Китай!</p>
        </div>
        <div class="sect2-cont">
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Авто доставка из Китая ot 30kg</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Авто доставка из Китая ot 30kg</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Авто доставка из Китая ot 30kg</h3>
                <p>Оптовый товары из Китая</p>
            </a>
            <a href="#!">
                <i class="fa fa-shopping-cart"></i>
                <h3>Авто доставка из Китая ot 30kg</h3>
                <p>Оптовый товары из Китая</p>
            </a>
        </div>
        <a href="uslugi.html" class="more">Все услуги</a>
    </div>
    <div class="sect3">
        <div class="sect3-h">
            <h3>Преимущества</h3>
            <p>Наш опыт и репутация — это самое главное, но есть еще несколько очень важных моментов:</p>
        </div>
        <div class="sect3-cont">
            <i class="fab fa-vk"></i>
            <div class="sect3-text">
                <h4>1. Головной офис сервиса в Москве</h4>
                <p>Склад нужен не только для того, чтобы хранить. Мы консолидируем, проверяем заказы по инвойсу и контролируем качество. Десятки видов качественной упаковки к вашим услугам в Китае.</p>
            </div>
        </div>
        <div class="sect3-cont">
            <div class="sect3-text">
                <h4>2. Складские комплексы в Китае и России</h4>
                <p>Склад нужен не только для того, чтобы хранить. Мы консолидируем, проверяем заказы по инвойсу и контролируем качество. Десятки видов качественной упаковки к вашим услугам в Китае.</p>
            </div>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="sect3-cont">
            <i class="fab fa-whatsapp"></i>
            <div class="sect3-text">
                <h4>3. Декларируем самостоятельно</h4>
                <p>Ничто так не влияет на цену, как отсутствие посредников. Больше тысячи готовых сертификатов и 300 ТНВЭД кодов мы уже оформили и успешно оптимизировали. Дешевая доставка из Китая теперь доступна каждому.</p>
            </div>
        </div>
        <div class="sect3-cont">
            <div class="sect3-text">
                <h4>4. Юридическая безопасность</h4>
                <p>С китайскими поставщиками мы заключаем договоры поставок по всем нормам местного и международного права. Мы работаем в одном правовом поле, что сводит ваши риски практически к нулю. Transitplus — надежный посредник в Китае.</p>
            </div>
            <i class="fab fa-youtube"></i>
        </div>
        <div class="sect3-cont">
            <i class="fab fa-telegram"></i>
            <div class="sect3-text">
                <h4>5. Комплексное обслуживание</h4>
                <p>Наш сервис построен таким образом: чем больше услуг вы отдаете нам на обслуживание, тем больше времени сможете уделить своему бизнесу. Все процессы сервиса подготовлены для компаний разного уровня. Аутсорсинг ВЭД — это выгодно, безопасно и удобно!</p>
            </div>
        </div>
    </div>
    <div class="sect4">
        <div class="sect4-h">
            <h3>Контакты</h3>
            <p>Мы находимся в Москве, по адресу Нижний Сусальный переулок д.5, стр 17</p>
        </div>
        <div class="sect4-cont">
            <div class="phones">
                <div>
                    <p>Поддержка для клиентов сервиса:</p>
                    <p class="number">8 (800) 775-77-28</p>
                </div>
                <div>
                    <p>Отдел продаж:</p>
                    <p class="number">+7 (495) 181-01-48</p>
                </div>
            </div>
            <div class="form">
                <p>Задайте ваш вопрос или кратко опишите ситуацию.<br>Мы очень быстро свяжемся с вами :)</p>
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Ваш телефон">
                <input type="email" placeholder="Email">
                <p class="agreement">* Отправляя форму, вы даете свое согласие на обработку персональных данных</p>
                <a href="#!" class="submit">Отправить</a>
            </div>
        </div>
    </div>
</content>


<script type="text/javascript">
		$(document).ready(function($) {
			$(window).on('load scroll',function(){
			    if ($(this).scrollTop() >= '200') {
			        $('.sect2-h').addClass('sect-h-pos');
			    }
			    if ($(this).scrollTop() >= '1200') {
			        $('.sect3-h').addClass('sect-h-pos');
			    }
			    if ($(this).scrollTop() >= '1550') {
			        $('.sect3-cont').addClass('sect3-cont-pos');
			        $('.sect3-cont:nth-child(odd)').addClass('sect3-cont-pos');
			    }
			    if ($(this).scrollTop() >= '2550') {
			        $('.sect4-h').addClass('sect-h-pos');
			    }
			});
		});
</script>
