<link rel="stylesheet" href="~/css/tovar.css">
<link rel="stylesheet" href="~/css/slider.css">
<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />


<content>
    <form class="sect-search">
        <a href="shop.html" class="shop">Магазин</a>
        <input type="text" class="search" required>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="sect-nav">
        <ul>
            <li><a href="~/Home/ShopMenu">Автотовары</a></li>
            <li><a href="~/Home/ShopMenu">Украшения, аксессуары</a></li>
            <li><a href="~/Home/ShopMenu">Красота, здоровье</a></li>
            <li><a href="~/Home/ShopMenu">Телефоны, гаджеты</a></li>
            <li><a href="~/Home/ShopMenu">ТВ, аудио, видео</a></li>
            <li><a href="~/Home/ShopMenu">Компьютеры</a></li>
            <li><a href="~/Home/ShopMenu">Досуг, туризм</a></li>
            <li><a href="~/Home/ShopMenu">Мебель</a></li>
            <li><a href="~/Home/ShopMenu">Бытовая техника</a></li>
            <li><a href="~/Home/ShopMenu">Строительство, ремонт</a></li>
        </ul>
    </div>
    <div class="sect-nas">
        <a href="~/Home/Shop">Magazin</a>
        <a href="#!"><i class="fas fa-arrow-right"></i>Ukrash</a>
        <a href="#!"><i class="fas fa-arrow-right"></i>Chasy</a>
        <a href="#!" class="nas-active"><i class="fas fa-arrow-right"></i>Chasy naruchnye</a>
    </div>

    <div class="sect-tovar">
        <div class="tov-vid">
            <div class="tov-slider">
                <div class="mySlides">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/hdb/hcf/9743794798622/casio-mtp-1374l-1avdf-black-21400996-2.jpg">
                </div>
                <div class="mySlides">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h7f/h14/9743794470942/casio-mtp-1374l-1avdf-black-21400996-1.png">
                </div>
                <div class="mySlides">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/hdf/h81/9743795060766/casio-mtp-1374l-1avdf-black-21400996-3.jpg">
                </div>
                <div class="mySlides">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h19/hf7/9743795322910/casio-mtp-1374l-1avdf-black-21400996-4.png">
                </div>

                <div class="row">
                    <div class="column">
                        <img class="demo cursor" src="https://kaspi.kz/medias/sys_master/images/images/hdb/hcf/9743794798622/casio-mtp-1374l-1avdf-black-21400996-2.jpg" alt="The Woods">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="https://kaspi.kz/medias/sys_master/images/images/h7f/h14/9743794470942/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="https://kaspi.kz/medias/sys_master/images/images/hdf/h81/9743795060766/casio-mtp-1374l-1avdf-black-21400996-3.jpg" alt="The Woods">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="https://kaspi.kz/medias/sys_master/images/images/h19/hf7/9743795322910/casio-mtp-1374l-1avdf-black-21400996-4.png" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="tov-text">
                <h2>Часы CASIO MTP-1374L-1AVDF Black</h2>
                <p class="price">Цена <span>29800тг</span></p>
                <ul>
                    <li>Одобрение онлайн</li>
                    <li>Высокий уровень одобрения</li>
                    <li>Возврат в течение 14 дней</li>
                </ul>
                <ul>
                    <li>мужские наручные часы;</li>
                    <li>водонепроницаемые;</li>
                    <li>механизм: кварцевый;</li>
                    <li>корпус из стали;</li>
                    <li>размер: 43.5x47x10.4 мм.</li>
                </ul>
            </div>
        </div>
        <div class="tov-har">
            <div class="tab-header">
                <div class="tab-h tab-active" data-tab="0">Отзывы</div>
                <div class="tab-h" data-tab="1">Характеристики</div>
            </div>
            <div class="tab-body">
                <div class="tab-b first">
                    <h2>Отзывы о  CASIO MTP-1374L-1AVDF Black</h2>
                    <div class="otz-cont">
                        <p>Nurbakyt<br><span>26.03.2019</span></p>
                        <p>Отличные часы за относительно небольшие деньги. Хронографы не декоративные, а реально работают. Обычно у часов этой категории, они являются декоративной частью.</p>
                    </div>
                    <div class="otz-cont">
                        <p>Nurbakyt<br><span>26.03.2019</span></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ratione consectetur dolor id placeat, consequuntur autem voluptates nobis et nesciunt, quis! Cum eos, iste autem ducimus. Necessitatibus, impedit deserunt autem, quibusdam veritatis asperiores esse dignissimos odio, fuga, mollitia dolor eveniet ex nulla tenetur dolore temporibus fugiat. Accusamus itaque pariatur error excepturi aliquam, assumenda placeat, expedita. Ad asperiores veritatis facere expedita, optio est a quod culpa harum veniam, odio eligendi, aperiam iure placeat at ex rem. Quas molestiae fuga, voluptatum, alias harum omnis porro accusamus reiciendis itaque sint labore repudiandae laboriosam, suscipit beatae sapiente at ut sed consequuntur dolorum dolor, similique.</p>
                    </div>
                </div>
                <div class="tab-b">
                    <h2>Характеристики CASIO MTP-1374L-1AVDF Black</h2>
                    <dl>
                        <dt>Основные характеристики</dt>
                        <dd>
                            <dl>
                                <dt><span class="spec">Тип</span></dt>
                                <dd>кварцевые</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Назначение</span></dt>
                                <dd>мужские</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Цифры</span></dt>
                                <dd>арабские</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Тип</span></dt>
                                <dd>кварцевые</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Назначение</span></dt>
                                <dd>мужские</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Цифры</span></dt>
                                <dd>арабские</dd>
                            </dl>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Конструкция</dt>
                        <dd>
                            <dl>
                                <dt><span class="spec">Водонепроницаемые</span></dt>
                                <dd>да</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Класс водонепроницаемости</span></dt>
                                <dd>WR50 (5 атм)</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Материал корпуса</span></dt>
                                <dd>сталь</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Водонепроницаемые</span></dt>
                                <dd>да</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Класс водонепроницаемости</span></dt>
                                <dd>WR50 (5 атм)</dd>
                            </dl>
                            <dl>
                                <dt><span class="spec">Материал корпуса</span></dt>
                                <dd>сталь</dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="tovars nedavno">
        <h2>Вы недавно смотрели</h2>
        <div class="responsive">
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
        </div>
    </div>
    <div class="tovars">
        <h2>Автозапчасти</h2>
        <div class="responsive">
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/hdb/hcf/9743794798622/casio-mtp-1374l-1avdf-black-21400996-2.jpg" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/h72/hb6/9743794503710/casio-mtp-1374l-1avdf-black-21400996-1.png" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
            <div class="tovar">
                <a href="#!" class="tov-img">
                    <img src="https://kaspi.kz/medias/sys_master/images/images/hdb/hcf/9743794798622/casio-mtp-1374l-1avdf-black-21400996-2.jpg" alt="">
                </a>
                <a href="#!" class="tovar-name">CASIO MTP-1374L-1AVDF Black</a>
                <p class="price">Цена <span>29800тг</span></p>
            </div>
        </div>
    </div>
</content>

<script src="~/js/slider.min.js"></script>
<script type="text/javascript" src="~/slick/slick.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        document.querySelector('.tab-header').onclick = function (event) {
            console.log(event.target.getAttribute('data-tab'));
            if (event.target.className == 'tab-h') {
                var dataTab = event.target.getAttribute('data-tab');
                var tabB = document.getElementsByClassName('tab-b');
                var tabH = document.getElementsByClassName('tab-h');

                for (var i = 0; i < tabH.length; i++) {
                    tabH[i].classList.remove('tab-active');
                }
                event.target.classList.add('tab-active');
                for (var j = 0; j < tabB.length; j++) {
                    if (dataTab == j) {
                        tabB[j].style.display = 'block';
                    }
                    else {
                        tabB[j].style.display = 'none';
                    }
                }
            }
        }
    }


    var slideIndex = 1;
    var column = document.querySelector('.column');
    showSlides(slideIndex);

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }

    $(document).ready(function () {
        $('.column').on('click', function currentSlide() {
            showSlides(slideIndex = $(this).index() + 1);
        });
        $('.responsive').slick({
            dots: false,
            infinite: false,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        infinite: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        });
    })
</script>