<link rel="stylesheet" href="~/css/dostavka.css">
<link rel="stylesheet" href="~/css/slider.css">

<content>
    <div class="accordeon">
        <div class="zayav">
            <p>+7(777)777-77-77</p>
            <button type="submit">Подать заявку</button>
        </div>
        <div class="acc-head">
            <div class="open close">
                <i class="fa fa-minus"></i>
                <i class="fa fa-plus"></i>
            </div>
            <a href="#!">Услуги</a>
        </div>
        <div class="acc-body first-acc-body">
            <p>Доставка из Китая</p>
            <a href="~/Logistika/Avto" >Автодоставка</a>
            <a href="~/Logistika/Cheap">Эконом-доставка из Китая</a>
            <a href="~/Logistika/More">Морская доставка</a>
            <a href="~/Logistika/Rail">Ж/Д доставка</a>
            <a href="~/Logistika/Air" class="dost-active">Авиадоставка</a>
        </div>
        <div class="acc-head">
            <div class="open">
                <i class="fa fa-minus"></i>
                <i class="fa fa-plus"></i>
            </div>
            <a href="#!">Может вы это искали?</a>
        </div>
        <div class="acc-body">
            <a href="#!">Растаможка грузов из Китая</a>
            <a href="#!">Способы доставки из Китая</a>
        </div>
    </div>
    <div class="modal-window">
        <form class="section">
            <div class="close-mod"><span></span></div>
            <h2>Оставьте заявку</h2>
            <input type="text" placeholder="Имя" required>
            <input type="text" placeholder="Телефон" required>
            <p class="agreement">* Отправляя форму, вы даете свое согласие на обработку персональных данных</p>
            <button type="submit" class="submit">Оставить заявку</button>
        </form>
    </div>
    <div class="cont-text">
        <div class="cont-top">
            <div class="cont-top-text">
                <h2>Авиа доставка из Китая - всё включено</h2>
                <p>Услуга «сборные грузы из Китая» подходит для участников малого и среднего бизнеса — одним словом, для тех, кто не готов ждать, пока соберется целый контейнер. В таких случаях, используя автотранспорт, можно добиться минимизации сроков и стоимости доставки, так как несколько клиентов берут на себя аренду контейнера или фуры в складчину.</p>
            </div>
            <img src="https://www.transitplus.ru/img/service/head/express.png" alt="">
        </div>
        <form class="form">
            <input type="text" placeholder="Имя" required>
            <input type="text" placeholder="Телефон" required>
            <p class="agreement">* Отправляя форму, вы даете свое согласие на обработку персональных данных</p>
            <button type="submit" class="submit">Оставить заявку</button>
        </form>
        <div class="table">
            <div class="massa">
                <h3>100 килограмм</h3>
                <p>Минимальный сборный груз из Китая</p>
            </div>
            <div class="data">
                <h3>25-30 дней</h3>
                <p>Максимальный срок доставки</p>
            </div>
            <div class="count">
                <h3>3 раза</h3>
                <p>В неделю экспортируем из Китая</p>
            </div>
        </div>
        <p class="tar-dos">Тарифы доставки</p>
        <div class="tarif-mob">
            <div class="slider">
                <div class="slItems">
                    <div class="slItem">
                        <div class="ekspress">
                            <div class="tarif-h">
                                <h3>«Авто Экспресс»</h3>
                                <p>товары с широким ассортиментом</p>
                            </div>
                            <div>от 50 кг</div>
                            <div>18 - 25 дней</div>
                            <div>Страховка 3%</div>
                            <div>Таможня включена</div>
                            <div>Идеально подходит малому бизнесу</div>
                        </div>
                    </div>
                    <div class="slItem">
                        <div class="stand">
                            <div class="tarif-h">
                                <h3>«Авто Стандарт»</h3>
                                <p>до двух наименований товара</p>
                            </div>
                            <div>от 100 кг</div>
                            <div>25 - 30 дней</div>
                            <div>Страховка 2%</div>
                            <div>Таможня включена</div>
                            <div>Идеально подходит среднему бизнесу</div>
                        </div>
                    </div>
                    <div class="slItem">
                        <div class="fraht">
                            <div class="tarif-h">
                                <h3>«Авто Фрахт»</h3>
                                <p>любой ассортимент товара</p>
                            </div>
                            <div>от 1000 кг</div>
                            <div>18 - 25 дней</div>
                            <div>Страховка 1%</div>
                            <div>Таможня не включена</div>
                            <div>Идеально подходит тем, кто ведет расчет с поставщиком напрямую</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tarif">
            <div class="ekspress">
                <div class="tarif-h">
                    <h3>«Авто Экспресс»</h3>
                    <p>товары с широким ассортиментом</p>
                </div>
                <div>от 50 кг</div>
                <div>18 - 25 дней</div>
                <div>Страховка 3%</div>
                <div>Таможня включена</div>
                <div>Идеально подходит малому бизнесу</div>
            </div>
            <div class="stand">
                <div class="tarif-h">
                    <h3>«Авто Стандарт»</h3>
                    <p>до двух наименований товара</p>
                </div>
                <div>от 100 кг</div>
                <div>25 - 30 дней</div>
                <div>Страховка 2%</div>
                <div>Таможня включена</div>
                <div>Идеально подходит среднему бизнесу</div>
            </div>
            <div class="fraht">
                <div class="tarif-h">
                    <h3>«Авто Фрахт»</h3>
                    <p>любой ассортимент товара</p>
                </div>
                <div>от 1000 кг</div>
                <div>18 - 25 дней</div>
                <div>Страховка 1%</div>
                <div>Таможня не включена</div>
                <div>Идеально подходит тем, кто ведет расчет с поставщиком напрямую</div>
            </div>
            <a class="submit">Отправить заявку</a>
        </div>
        <ul class="goods">
            <li>
                <h3>Несколько маршрутов</h3>
                <p>Дешевой доставка грузов из&nbsp;Китая получается, если правильно выбран путь. Мы&nbsp;предложим маршрут доставки груза исходя из&nbsp;вашего бюджета и&nbsp;ассортимента товаров.</p>
            </li>
            <li>
                <h3>Перевозка сборного груза с&nbsp;таможенным оформлением</h3>
                <p>Ваш персональный менеджер предоставит вам готовую ставку с&nbsp;учетом всех расходов, в&nbsp;том числе по&nbsp;разрешительной документации и&nbsp;таможенным платежам.</p>
            </li>
            <li>
                <h3>Доставка в&nbsp;любой регион России</h3>
                <p>После прохождения таможни фура или контейнер разгружается, и&nbsp;грузы едут каждый в&nbsp;свой регион.</p>
            </li>
            <li>
                <h3>Неизменность цены</h3>
                <p>Слишком дешевая доставка товаров из&nbsp;Китая на&nbsp;рынке может скрывать подводные камни. С&nbsp;нами вы&nbsp;получаете окончательную сумму к&nbsp;оплате, все непредвиденные расходы мы&nbsp;берем на&nbsp;себя.</p>
            </li>
        </ul>
        <h2 class="form-h">Узнать стоимость доставки и перевозки грузов из Китая в Россию</h2>
        <form class="form-more">
            <input type="text" placeholder="Имя" required>
            <input type="text" placeholder="Телефон" required>
            <input type="Email" placeholder="Email" required>
            <textarea placeholder="Будет полезно указать маршрут, объем, вес груза в кг, код ТН ВЭД, количество шт, количество мест."></textarea>
            <p class="agreement">* Отправляя форму, вы даете свое согласие на обработку персональных данных</p>
            <button type="submit" class="submit">Оставить заявку</button>
        </form>
    </div>
</content>

<script type="text/javascript" src="~/js/slider.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('.slider').rbtSlider({
            'height': '100%',
            'dots': false,
            'arrows': false,
            'auto': 3
        });
    });
    $(document).ready(function () {
        $('.zayav > button').on('click', function (e) {
            e.preventDefault();
            $('.modal-window').css('display', 'flex');;
        });
        $('.close-mod').on('click', function (e) {
            e.preventDefault();
            $('.modal-window').css('display', 'none');
        });
        $('.ekspress, .stand, .fraht').on('click', function () {
            $('.tarif > a.submit').css('visibility', 'visible');
            if ($('.ekspress, .fraht').hasClass('tarif-border')) {
                $('.ekspress, .fraht').removeClass('tarif-border');
            }
            $(this).not($('.stand')).addClass('tarif-border');
            if ($('.ekspress').hasClass('tarif-border')) {
                $('.tarif').css('justify-content', 'flex-start');
            }
            else if ($('.fraht').hasClass('tarif-border')) {
                $('.tarif').css('justify-content', 'flex-end');
            }
            else if ($('.stand')) {
                $('.tarif').css('justify-content', 'space-around');
            }
        });

        $(window).resize(function () {
            if ($(window).width() < 426) {
                $('.open').removeClass('close');
            }
            else {
                $('.open').addClass('close');
            }
        });
        $('.accordeon .acc-body').not($('.first-acc-body')).css('display', 'none');
        $('.accordeon .acc-head').on('click', function (e) {
            if ($('.open').hasClass('close')) {
                $('.open').not($(this).children('.open')).removeClass('close');
            }
            $(this).children('.open').toggleClass('close');
            $('.accordeon .acc-body').not($(this).next()).slideUp(500);
            $(this).next().slideToggle(500);
        });
        $('.tarif > a.submit').click(function () {
            // var offset = 0;
            $('html, body').animate({
                scrollTop: $('.form-h').offset().top
            }, 1000);
            return false;
        });
        $(window).on('load scroll', function () {
            // alert($('footer').offset().top-500);
            if ($(this).scrollTop() > $('footer').offset().top - 480) {
                $('.accordeon').addClass('acc-bottom');
                $(window).resize(function () {
                    if ($(window).width() < 426) {
                        $('.accordeon').addClass('acc-bottom-mob');
                        $('.accordeon').removeClass('acc-bottom');
                    }
                    else {
                        $('.accordeon').removeClass('acc-bottom-mob');
                    }
                });
            }
            else {
                $('.accordeon').removeClass('acc-bottom');
            }
        });
    });
</script>



