

.main > content { /*----------------------CONTENT-------------------*/
    width: 100%;
    padding: 50px 13%;
    justify-content: space-between;
    outline: 1px solid;
}

content .tovar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 1px 5px #90A8D1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
content .tovar > img{
  width: 100%;
  height: 150px;
  background-color: #FF3D28;
  font-size: 50px;
}
content .tovar > h3{
  font-size: 20px;
  color: #555;
  margin: 15px 0;
  /*text-align: center;*/
}
content .tovar > *{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
content .tovar > a{
  /*text-align: center;*/
  /*margin: 5px;*/
  text-decoration: none;
}
content .tovar > a:hover{
  text-decoration: underline;
}
content .tovar:hover{
  box-shadow: 0 1px 15px #90A8D1;
}
content .tovar:hover > h3{
  color: #FF3D28;
}

content > .lists {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lists > table{
    border: 1px solid;
    border-collapse: collapse;
    position: relative;
    opacity: 0;
}
.lists > table > tr:first-child > td{
  background-color: #118CE9;
  color: #fff;
  border: 1px solid #118CE9;
}
.lists > table th{
  font-weight: bold;
  color: #555;
}
.lists > table td, .lists > table th{
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #118CE9;
}


.preloader {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    background-image: url(../slick/ajax-loader.gif);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #FF3D28;*/
}

.main-preloader {
    top: 0;
    left: 250px;
}
.pct-preloader {
    display: none;
    position: unset;
    top: 0;
    right: 0;
    border: none;
}