@import url("const.css");


/*-------------------CONTENT-------------------------------------*/

.main > content {
    width: 100%;
    padding-top: 50px;
}

.sect-search { /*---------------SECT-SEARCH-------------*/
    width: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

a.shop {
    width: 30%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #CBD6E8;
    border: 1px solid #90A8D1;
    border-right: none;
}

.search {
    width: 70%;
    padding: 10px 15px;
    border: 1px solid #90A8D1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .search:hover {
        border-color: #118CE9;
    }

    .search:focus, .sect-search > button:focus {
        outline: none;
        border-color: #118CE9;
    }

.sect-search > button {
    height: 100%;
    padding: 10px;
    background-color: #118CE9;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .sect-search > button:hover {
        background-color: #90A8D1;
    }

i.fa-search {
    font-size: 20px;
    color: #fff;
}

.sect-nav { /*---------------SECT-NAV-------------*/
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 6%;
    border: 1px solid #CBD6E8;
    border-right: none;
    border-left: none;
}

.sect-nav > ul {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.sect-nav > ul > li {
    border: 1px solid #CBD6E8;
    border-bottom: none;
    border-top: none;
}

.sect-nav > ul > li:nth-child(odd) {
    border: none;
}

.sect-nav > ul > li:first-child {
    border-left: 1px solid #CBD6E8;
}

.sect-nav > ul > li a {
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /*background-color: #CBD6E8;*/
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sect-nav > ul > li a:hover {
    background-color: #CBD6E8;
}

.baner { /*---------------BANER-------------*/
    width: 100vw;
    height: 100%;
    height: 350px;
    /*background-color: #90A8D1;*/
    position: relative;
    margin-left: 50%;
    left: -50vw;
}
.ban-slider {
    width: 100%;
    height: 100%;
}
.ban-slider > *, .ban-slider > * > *{
    height: 100% !important;
}
.baner img {
    width: 100%;
    /*height: 100px !important;*/
}

.tovars { /*---------------TOVARS-------------*/
    width: 85%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.responsive {
    width: 100%;
    border: 1px solid #118CE9;
    background-color: #fff;
}

.tovars > h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}

.tovar {
    width: 25%;
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid #CBD6E8;
    /*outline: 1px solid;*/
}

    .tovar:last-child {
        border-right: none;
    }

.tov-img {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #CBD6E8;
}

    .tov-img > img {
        width: 100%;
    }

a.tovar-name {
    display: block;
    height: 35px;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
}

a.tovar-name:hover {
    text-decoration: underline;
}

a.tovar-name:focus, a.tov-img:focus {
    outline: none;
}

.price {
    font-size: 14px;
    color: #90A8D1;
}

    .price > span {
        font-size: 18px;
        padding: 5px;
        font-weight: bold;
        text-align: center;
    }


/*-------------------FOOTER-------------------------------------*/



@media (min-width: 1367px) {
}

@media (max-width: 1024px) {
    .baner {
        height: 260px;
    }
    .nav > ul > li a {
        margin: 0 10px;
    }

    .sect-search {
        width: 70%;
    }

    .sect-nav > ul > li a {
        padding: 5px;
        font-size: 12px;
    }

    .tovars {
        width: 90%;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 14px;
    }

    .baner {
        height: 200px;
    }
    .nav > ul > li a {
        margin: 0 5px;
    }

    .right > .city {
        margin-right: 10px;
        padding-right: 10px;
    }

    .right i {
        font-size: 20px;
    }

    .main > content {
        padding-left: 6%;
        padding-right: 6%;
    }

    .sect-nav {
        padding: 0;
    }

        .sect-nav > ul {
            overflow-x: scroll;
        }

            .sect-nav > ul > li:first-child {
                border-left: none;
            }

    .tovars {
        width: 100%;
    }

    a.tovar-name {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .main > header {
        display: none;
    }
    .baner {
        height: 110px;
    }
    .mob-menu {
        display: block;
    }

    .mob-header > i.fa-bars {
        display: block;
    }


    .sect-search {
        width: 90%;
    }

    .sect-nav > ul > li a {
        font-size: 10px;
    }

    .tovars > h2 {
        font-size: 20px;
        padding-left: 15px;
    }

    .tovar {
        width: 50%;
        height: 100%;
    }

    .main > content {
        padding-left: 0;
        padding-right: 0;
    }

    .main > footer {
        padding: 10px 6%;
    }
}

@media (max-width: 375px) {
    .baner {
        height: 100px;
    }
}

@media (max-width: 320px) {
    .baner {
        height: 90px;
    }
}
